*{ box-sizing: border-box;}
.printHide{ display: none !important;}




input {
  border: none;
  padding: 0;
  width: 100%;
  border-radius: 0;
  height: 100%;
  display: inline-block;
  height: inherit;
  text-align: center;
  background: none;
}
input:hover {
  background: #f1f1f1;
}
input:focus {
  background: #cccab6;
}
textarea {
  height: 100%;
  display: block;
  background: none;
}
textarea,
input,
td,
.gxTable {
  font-size: 14px;
}
el-select {
  width: 100%;
  min-width: 120px;
  background: none;
}
.ant-select-selection {
  background: none;
  border-radius: none;
  border: none;
}
.ticketTable {
  border: 1px solid #ededed;
  width: 100%;
  border-left: none;
  border-bottom: none;
  text-align: center;
}
.ticketTable td {
  border-left: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  position: relative;
}
.ticketTable b {
  font-size: 16px;
}
.ticketTable .tbb td:nth-child(1),
.ticketTable .tbb td:nth-child(3),
.ticketTable .tbb td:nth-child(5) {
  text-align: right;
  width: 100px;
}
.ticketTable .tbb td:nth-child(2),
.ticketTable .tbb td:nth-child(4),
.ticketTable .tbb td:nth-child(6) {
  border-left: 0;
}
.ticketTable .s30 span {
  display: inline-block;
  width: 30%;
}
.ticketTable .s50 span {
  display: inline-block;
  width: 48%;
}
.ticketTable .input3 {
  width: 220px;
}
.ticketTable .input3 input {
  width: 35px;
  display: inline-block;
  border-bottom: 1px solid #ededed;
}
.ticketTable .input2 {
  width: 140px;
}
.ticketTable .input2 input {
  width: 35px;
  display: inline-block;
  border-bottom: 1px solid #ededed;
}
.ticketTable .inputHeight {
  position: absolute;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
}
.ticketTable .iconBtn {
  font-size: 16px;
  cursor: pointer;
}
.ticketTable .iconBtn:hover {
  color: #099;
}
.ticketTable .productShow1 {
  background: #f9f9f9;
  color: #c00;
}
.gxTable {
  position: relative;
  padding-left: 100px;
}
.gxTable .lBox {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100px;
  border: 1px solid #ededed;
  border-top: none;
}
.gxBox:after {
  content: " ";
  height: 0;
  width: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.gxBox > div {
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  text-align: center;
  float: left;
  width: 8.333%;
}
.gxBox > div .i1 {
  height: 28px;
  line-height: 28px;
}
.gxBox > div .i2 {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  height: 28px;
}
.gxBox > div .i3 {
  height: 36px;
}
.trGxBox {
  margin: 0 -2px -2px 0;
  font-size: 12px;
}
.trGxBox input {
  font-size: 12px;
}
.printHide {
  display: none !important;
}
