.door_edit_cpt{
  /deep/app-cropper-img{ float: left;}
  /deep/sf{ float: left; width: 400px;}
  .arithmetic{ float: left; text-align: left;
    p{color: #c00;}
    ul,li{ padding: 0; margin: 0; list-style-type: none;}
    li{ margin: 10px 0;
      input{ width: 200px; margin-left: 6px;}
      b{ display: inline-block; width: 120px; text-align: right;}
    }
  }
  .gxBox{ border-bottom: 1px solid #ededed;  border-left: 1px solid #ededed;
    margin-top: 20px;
    >div{ border-top: 1px solid #ededed; border-right: 1px solid #ededed; padding: 5px;
      .i1{line-height: 28px;}
      span,input,nz-select{ display: inline-block; vertical-align: middle; margin: 0 5px;}
      /deep/input{display: inline-block; width: 90px;}
    }
  }
}
