<div class="door_edit_cpt">
  <page-header [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
      <nz-breadcrumb>
        <nz-breadcrumb-item><a href="/#/admin/baseCorporation/door">{{cpName}}列表</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>{{title+cpName}}</nz-breadcrumb-item>
      </nz-breadcrumb>
    </ng-template>
  </page-header>
  <nz-card>
    <nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
    <div *ngIf="i" nz-row>
      <div nz-col nzSpan="24">
        <app-cropper-img [(ngModel)]="cropperImg" [showBtn]=false [boxStyle]="{width:400,height:400, previewWidth:300,previewHeight:300}"></app-cropper-img>
        <sf #sf mode="edit" (formChange)="formChange($event)"
        [schema]="schema" [ui]="ui" [formData]="i" button="none">
          <footer-toolbar errorCollect>
            <button nz-button type="button" (click)="back()" [nzLoading]="http.loading">返回</button>
            <button nz-button type="submit" nzType="primary" (click)="save(sf.value)" [disabled]="!sf.valid"
              [nzLoading]="http.loading">保存</button>
          </footer-toolbar>
        </sf>
        <div class="arithmetic">
          <p>门洞变量：高=h，宽=w，厚=d</p>
          <ul>
            <li *ngIf="type==1301"><b>门扇长(msH)</b><input nz-input placeholder="h-50" [(ngModel)]="arithmetic.msH" /></li>
            <li *ngIf="type==1301"><b>门扇宽(msW)</b><input nz-input placeholder="w-85" [(ngModel)]="arithmetic.msW" /></li>
            <li><b>立板长(lbH)</b><input nz-input placeholder="h-38" [(ngModel)]="arithmetic.lbH" /></li>
            <li><b>立板宽(lbW)</b><input nz-input placeholder="d" [(ngModel)]="arithmetic.lbW" /></li>
            <li><b>顶板长(dbH)</b><input nz-input placeholder="w-20" [(ngModel)]="arithmetic.dbH" /></li>
            <li><b>顶板宽(dbW)</b><input nz-input placeholder="d" [(ngModel)]="arithmetic.dbW" /></li>
          </ul>
        </div>
      </div>
      <div nz-col nzSpan="24">
        <div nz-row class="gxBox">
          <div *ngFor="let item of myGxList" nz-col nzSpan="12">
            <div class="i1" (contextmenu)="onContextMenu($event, item)">
             <span class="spb">{{item.name}}</span>
              <nz-select [(ngModel)]="item.type">
                <nz-option *ngFor="let item of paramTypeList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
              </nz-select>
              <input *ngIf="item.type==='1'||item.type==='3'" [(ngModel)]="item.price"
              type='number' nz-input placeholder="请输入工序单价">
              <nz-select *ngIf="item.type==='2'" nzMode="tags" style="width: 100%; margin-top:10px;" nzPlaceHolder="输入可选参数,如：豪华贴膜#88" [(ngModel)]="item.params"  (ngModelChange)="typeParamsChange(item)">
                <!-- <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"> </nz-option> -->
              </nz-select>
            </div>
          </div>
        </div>
      </div>
      <context-menu>
          <ng-template *ngIf="modleGxL.length" (execute)="contextMenuClick($event,'add1')" contextMenuItem>
            在前添加
          </ng-template>
          <ng-template *ngIf="modleGxL.length" (execute)="contextMenuClick($event,'add2')" contextMenuItem>
            在后添加
          </ng-template>
          <ng-template divider="true"></ng-template>
          <ng-template (execute)="contextMenuClick($event,'del')" contextMenuItem>
            删除
          </ng-template>
        </context-menu>
    </div>
  </nz-card>
</div>