<div class="user_edit_cpt">
  <page-header [title]="title" [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
      <nz-breadcrumb>
        <nz-breadcrumb-item><a href="/#/admin/user/index">用户列表</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>{{title}}</nz-breadcrumb-item>
      </nz-breadcrumb>
    </ng-template>
  </page-header>
  <nz-card>
    <nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
    <sf *ngIf="i" #sf mode="edit" [schema]="schema" [ui]="ui" [formData]="i" button="none">
      <footer-toolbar errorCollect>
        <button nz-button type="button" (click)="location.back()" [nzLoading]="http.loading">返回</button>
        <button nz-button type="submit" nzType="primary" (click)="save(sf.value)" [disabled]="!sf.valid" [nzLoading]="http.loading">保存</button>
      </footer-toolbar>
    </sf>
  </nz-card>
</div>