<div class="icon_cpt">
  <page-header [title]="" [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb></ng-template>
  </page-header>
  <nz-card>
    <div class="demo">
      <p>直接使用icon，如果不能查看，运行命令：ng g ng-alain:plugin icon</p>
      <i nz-icon type="user" theme="outline"></i>
    </div>
    <ul class="ant-row">
      <li appZwMouseSet (zwHover)="zwHover($event,item)" (click)="copyIcon(item)" *ngFor="let item of iconList" class="ant-col-3 flex-middle">
        <div [ngClass]="{'active': item.active}">
          <i nz-icon [type]="item.name" [theme]="item.theme"></i>
          <span>{{item.name}}</span>
          <b>已拷贝</b>
        </div>
      </li>
    </ul>
    <div style="display: none;">
        <i nz-icon type="build" theme="outline"></i>
        <i nz-icon type="solution" theme="outline"></i>
    </div>
  </nz-card>
</div>