<div class="modal-header">
  <div class="modal-title">查看 {{ record.id }} 信息</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<div sv-container *ngIf="i">
  <sv label="姓名">{{ i.name }}</sv>
  <sv label="登录名">{{ i.loginName }}</sv>
  <sv label="部门">{{ i.corporationId }}</sv>
  <sv label="手机号">{{ i.phone }}</sv>
  <sv label="用户类型">{{ i.type }}</sv>
  <sv label="地址">{{ i.address }}</sv>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
