<div class="door_list_cpt">
  <page-header [title]="" [breadcrumb]="breadcrumb" [action]="action">
    <ng-template #breadcrumb></ng-template>
    <ng-template #action>
      <div *ngIf="router.url.indexOf('ticket/myTicket') !== -1" class="action">
          <button (click)="add()" nz-button nzType="primary">新建</button>
      </div>
    </ng-template>
  </page-header>
  <nz-card>
    <sf mode="search" [schema]="searchSchema" (formSubmit)="search($event)" (formReset)="search($event)"></sf>
    <st #st [data]="url" [req]="req" [res]="res" [ps]="pageSize" 
    [columns]="columns" [page]="page" (change)="stChange($event)"></st>
  </nz-card>
</div>