<!-- <div class="alain-default__content-title">
  <h1>
    Page Name
    <small>{{ticketSum.todaySum}}</small>
  </h1>
</div> -->
<div class="mian-box1">
  <div class='cpbox'>
    <div class="item">
      <h4>今日</h4>
      <p>
        <span>
          新建工单:
        </span>
        <b>
          {{ticketSum.today.create}}
        </b>
      </p>
      <p>
        <span>
          产品数量:
        </span>
        <b>
          {{ticketSum.today.createDoor}}
        </b>
      </p>
      <p>
        <span>
          完成工单:
        </span>
        <b>
          {{ticketSum.today.over}}
        </b>
      </p>
      <p>
        <span>
          完成产品:
        </span>
        <b>
          {{ticketSum.today.overDoor}}
        </b>
      </p>
    </div>
    <div class="item">
      <h4>昨日</h4>
      <p>
        <span>
          新建工单:
        </span>
        <b>
          {{ticketSum.yesterday.create}}
        </b>
      </p>
      <p>
        <span>
          产品数量:
        </span>
        <b>
          {{ticketSum.yesterday.createDoor}}
        </b>
      </p>
      <p>
        <span>
          完成工单:
        </span>
        <b>
          {{ticketSum.yesterday.over}}
        </b>
      </p>
      <p>
        <span>
          完成产品:
        </span>
        <b>
          {{ticketSum.yesterday.overDoor}}
        </b>
      </p>

    </div>
    <div class="item">
      <h4>本月</h4>
      <p>
        <span>
          新建工单:
        </span>
        <b>
          {{ticketSum.month.create}}
        </b>
      </p>
      <p>
        <span>
          产品数量:
        </span>
        <b>
          {{ticketSum.month.createDoor}}
        </b>
      </p>
      <p>
        <span>
          完成工单:
        </span>
        <b>
          {{ticketSum.month.over}}
        </b>
      </p>
      <p>
        <span>
          完成产品:
        </span>
        <b>
          {{ticketSum.month.overDoor}}
        </b>
      </p>
    </div>
    <div class="item">
      <h4>上月</h4>
      <p>
        <span>
          新建工单:
        </span>
        <b>
          {{ticketSum.prMonth.create}}
        </b>
      </p>
      <p>
        <span>
          产品数量:
        </span>
        <b>
          {{ticketSum.prMonth.createDoor}}
        </b>
      </p>
      <p>
        <span>
          完成工单:
        </span>
        <b>
          {{ticketSum.prMonth.over}}
        </b>
      </p>
      <p>
        <span>
          完成产品:
        </span>
        <b>
          {{ticketSum.prMonth.overDoor}}
        </b>
      </p>
    </div>
    <div class="item">
      <h4>今年</h4>

      <p>
        <span>
          新建工单:
        </span>
        <b>
          {{ticketSum.year.create}}
        </b>
      </p>
      <p>
        <span>
          产品数量:
        </span>
        <b>
          {{ticketSum.year.createDoor}}
        </b>
      </p>
      <p>
        <span>
          完成工单:
        </span>
        <b>
          {{ticketSum.year.over}}
        </b>
      </p>
      <p>
        <span>
          完成产品:
        </span>
        <b>
          {{ticketSum.year.overDoor}}
        </b>
      </p>
    </div>
  </div>
  <div class='userpBx'>
    <div>
      <h2>本月员工工资</h2>
      <nz-table nzBordered=true nzShowPagination=false #basicTable [nzData]="userList">
        <thead>
          <tr>
            <th>姓名</th>
            <th>工资</th>
            <th>完成工单数量</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.name}}</td>
            <td>{{data.price+data.priceAdd}}</td>
            <td>{{data.cum}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div>
      <h2>上月员工工资</h2>
      <nz-table nzBordered=true nzShowPagination=false #basicTable1 [nzData]="userList1">
        <thead>
          <tr>
            <th>姓名</th>
            <th>工资</th>
            <th>完成工单数量</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable1.data">
            <td>{{data.name}}</td>
            <td>
              <span style="color: #099;">
                {{data.price+data.priceAdd}}
              </span>
            </td>
            <td>{{data.cum}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

</div>
