<div class='CropperImgModalComponent'>
  <div class="mainbox">
      <img-cropper #cropperImg [image]="data" [settings]="cropperSettings"></img-cropper>
      <div class="result flex-middle" *ngIf="data.image" >
          <img [src]="data.image">
      </div>
  </div>
  <div class="customize-footer" style=" text-align: right; margin-top: 30px;">
    <button style="margin:0 20px;" nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="emitDataOutside()">
      确定
    </button>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel()">
      取消
    </button>
  </div>
</div>