<div class="ticket_edit_cpt">
  <page-header [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
      <nz-breadcrumb>
        <nz-breadcrumb-item><a href="/#/admin/ticket/myTicket">{{cpName}}列表</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>{{title+cpName}}</nz-breadcrumb-item>
      </nz-breadcrumb>
    </ng-template>
  </page-header>
  <nz-card>
    <nz-spin *ngIf="loading" class="modal-spin"></nz-spin>
    <div #printDiv>
      <table class="ticketTable" cellspacing="0" cellpadding="0">
        <tr class='baseBox'>
          <td class='baseTdItem' *ngFor="let item of baseTdList"></td>
        </tr>
        <tr>
          <td colspan="22">
            <span style="font-size:20px;">川峰木门生成流程单</span>
          </td>
          <td colspan="3">
            <span>合计：</span>
            <b>{{ticketObj.sumDoor}}</b>
            <span>套</span>
          </td>
          <td rowspan="4" colspan="4">
            <ngx-qrcode [qrc-element-type]="'url'" [qrc-value]="'http://101.204.247.165:11111/#/pages/client/index/index?id='+id" qrc-class="aclass"
              qrc-errorCorrectionLevel="A">
            </ngx-qrcode>
          </td>
        </tr>
        <tr>
          <td colspan="9" class="rightB">
            <b>经&nbsp;销&nbsp;商&nbsp;：</b>
            <nz-select nzShowSearch nzAllowClear [(ngModel)]="ticketObj.dealersId">
              <nz-option *ngFor="let item of dealersList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
            </nz-select>
          </td>
          <td colspan="8" class="rightB">
            <b>品牌名称：</b>
            <nz-select [(ngModel)]="ticketObj.brandId" nzAllowClear>
              <nz-option *ngFor="let item of brandList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            </nz-select>
          </td>
          <td colspan="8" class="rightB">
            <b>订单编号：</b>
            <input [(ngModel)]="ticketObj.number" nz-input>
          </td>
        </tr>
        <tr>
          <td colspan="9" class="rightB">
            <b>收货地址：</b>
            <input [(ngModel)]="ticketObj.address" nz-input>
          </td>
          <td colspan="8" class="rightB">
            <b>订货日期：</b>
            <nz-date-picker [nzDisabledDate]="createTimeDisabled" [(ngModel)]="ticketObj.createTime"></nz-date-picker>
          </td>
          <td colspan="8" class="rightB">
            <b>排产日期：</b>
            <nz-date-picker [nzDisabledDate]="startTimeDisabled" [(ngModel)]="ticketObj.startTime"></nz-date-picker>
          </td>
        </tr>
        <tr>
          <td colspan="9" class="rightB">
            <b>业务经理：</b>
            <nz-select nzShowSearch nzAllowClear [(ngModel)]="ticketObj.marketId">
              <nz-option *ngFor="let item of marketList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
            </nz-select>
          </td>
          <td colspan="8" class="rightB">
            <b>制单人员：</b>
            <span>{{ticketObj.editName}}</span>
          </td>
          <td colspan="8" class="rightB">
            <b>交货日期：</b>
            <nz-date-picker [nzDisabledDate]="endTimeDisabled" [(ngModel)]="ticketObj.endTime"></nz-date-picker>
          </td>
        </tr>
        <tr class='haderB'>
          <td rowspan="2" colspan="2">颜色</td>
          <td rowspan="2" colspan="3">材质</td>
          <td rowspan="2" colspan="3">型号</td>
          <td rowspan="2" colspan="1">序号</td>
          <td colspan="1" rowspan="2">数量</td>
          <td colspan="3">洞口尺寸</td>
          <td colspan="3">门扇尺寸</td>
          <td colspan="3">立板尺寸</td>
          <td colspan="3">顶板尺寸</td>
          <td colspan="4">线条信息</td>
          <td colspan="3" rowspan="2">备注</td>
        </tr>
        <tr class='haderB'>
          <td>
            <span>高</span>
          </td>
          <td>
            <span>宽</span>
          </td>
          <td>
            <span>厚</span>
          </td>
          <td>
            <span>高</span>
          </td>
          <td>
            <span>宽</span>
          </td>
          <td>
            <span>数量</span>
          </td>
          <td>
            <span>高</span>
          </td>
          <td>
            <span>宽</span>
          </td>
          <td>
            <span>数量</span>
          </td>
          <td>
            <span>高</span>
          </td>
          <td>
            <span>宽</span>
          </td>
          <td>
            <span>数量</span>
          </td>
          <td *ngFor="let item of lines" class="">
            <span>{{item.name}}</span>
          </td>
        </tr>
        <ng-template ngFor let-i="index" let-data [ngForOf]="productList">
          <tr class="productItem" [ngClass]="{'productShow1': data.show}" (contextmenu)="onContextMenu($event, data)">
            <td colspan="2" *ngIf="data.rowspanColor" [attr.rowspan]="data.rowspanColor" (dblclick)="showColor(data)"
              class="cursor">
              <div>{{data.colorObj.name}}</div>
            </td>
            <td colspan="3" *ngIf="data.rowspanMaterial" [attr.rowspan]="data.rowspanMaterial"
              (dblclick)="showMaterial(data)" class="cursor">
              <div>{{data.materialObj.name}}</div>
            </td>
            <td colspan="3" *ngIf="data.rowspanDoor" [attr.rowspan]="data.rowspanDoor" (dblclick)="showDoor(data)"
              class="cursor">
              <div>{{data.doorObj.name}}</div>
            </td>
            <td class="cursor" (click)="contextMenuClick({item:data},'show')">
              <span>
                {{data.indexKey+1}}
              </span>
            </td>
            <td>
              <input (blur)="onBlur($event,data,'sum')" [(ngModel)]="data.sum" class="inputHeight">
            </td>
            <td colspan="3">
              <input (blur)="onBlur($event,data,'coverSize')" [(ngModel)]="data.coverSize" class="inputHeight">
            </td>
            <td colspan="3">
              <input [disabled]='data.doorObj.type==1302' (blur)="onBlur($event,data,'doorSize')"
                [(ngModel)]="data.doorSize" class="inputHeight">
            </td>
            <td colspan="3">
              <input (blur)="onBlur($event,data,'lbSize')" [(ngModel)]="data.lbSize" class="inputHeight">
            </td>
            <td colspan="3">
              <input (blur)="onBlur($event,data,'dbSize')" [(ngModel)]="data.dbSize" class="inputHeight">
            </td>
            <td *ngFor="let item of data.lines; let i=index">
              <input (blur)="onBlur($event,data,'lines',i)" [(ngModel)]="item.value" class="inputHeight">
            </td>

            <td colspan="3">
              <textarea [(ngModel)]="data.remarks" style="width: 100%; border: none;"></textarea>
            </td>
          </tr>
          <tr class="printHide" [ngClass]="{'productShow2': data.show}" (contextmenu)="onContextMenu($event, data)"
            *ngIf="data.show">
            <td>
              <i class="iconBtn" (click)="contextMenuClick({item:data},'show')" nz-icon type="up-circle"
                theme="outline"></i>
            </td>
            <td colspan="20">
              <div nz-row class="gxBox trGxBox">
                <div *ngFor="let item of data.gxList" nz-col nzSpan="2">
                  <div class="i1">{{item.name}}/{{item.price}}</div>
                  <div class="i2">
                    <input disabled *ngIf="item.name" [(ngModel)]="item.countPrice" type='number' nz-input>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
        <tr>
          <td rowspan="2" colspan="2">总计:</td>
          <td rowspan="2" colspan="18" class="statistics">
            门扇:
            <b style="margin-right:4px;">{{ticketObj.sumDoor}}</b>
            <span style="margin-right:20px;">个</span>
            门套板:
            <b style="margin-right:4px;">{{ticketObj.sumTaoban}}</b>
            <span style="margin-right:20px;">块</span>
            窗套板:
            <b style="margin-right:4px;">{{ticketObj.sumWindow}}</b>
            <span style="margin-right:20px;">块</span>
          </td>
          <td colspan="2">线条小计</td>
          <td *ngFor="let item of ticketObj.lines">
            <b>{{item.value}}</b>
          </td>
          <td rowspan="2" colspan="3"></td>
        </tr>
        <tr>
          <td colspan="2" colspan="2">线条合计</td>
          <td colspan="4">
            <b>{{ticketObj.sumLine}}</b>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <span (click)="summaryFn()">总结：</span>
          </td>
          <td colspan="27">
            <textarea [(ngModel)]="ticketObj.summary" style="width: 100%; border: none;
            text-align: center; font-weight: bold;"></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <span>备注：</span>
          </td>
          <td colspan="27">
            <textarea [(ngModel)]="ticketObj.remarks" style="width: 100%; border: none; text-align: left;
             padding-left: 10px;"></textarea>
          </td>
        </tr>
      </table>
      <div class="gxTable">
        <div class="lBox"></div>
        <div nz-row class="gxBox">
          <div *ngFor="let item of gxList" nz-col nzSpan="2">
            <div class="i1">{{item.name}}
              <b *ngIf="item.priceAdd">{{item.priceAdd>0?'+'+item.priceAdd:item.priceAdd}}</b>
            </div>
            <div class="i2">
              <input (blur)="gxBlur($event,item)" *ngIf="item.name" [(ngModel)]="item.countPrice" type='number'
                nz-input>
            </div>
            <div class="i3">{{item.userName}}</div>
          </div>
        </div>
      </div>
    </div>
    <context-menu>
      <ng-template [enabled]="contextMenuActive.indexKey!=0" (execute)="contextMenuClick($event,'up')" contextMenuItem>
        <span>
          上移
          <i nz-icon type="arrow-up" theme="outline"></i>
        </span>
      </ng-template>
      <ng-template [enabled]="contextMenuActive.indexKey!=productList.length-1"
        (execute)="contextMenuClick($event,'down')" contextMenuItem>
        <span>
          下移
          <i nz-icon type="arrow-down" theme="outline"></i>
        </span>
      </ng-template>
      <ng-template (execute)="contextMenuClick($event,'copy')" contextMenuItem>
        复制添加
      </ng-template>
      <ng-template (execute)="contextMenuClick($event,'add')" contextMenuItem>
        添加..
      </ng-template>
      <ng-template contextMenuItem divider="true"></ng-template>
      <ng-template (execute)="contextMenuClick($event,'show')" contextMenuItem>
        {{showDetilName}}
      </ng-template>
      <ng-template (execute)="contextMenuClick($event,'merge')" contextMenuItem>
        {{mergeKey?'取消合并单元格':'合并单元格'}}
      </ng-template>
      <ng-template contextMenuItem divider="true"></ng-template>
      <ng-template (execute)="contextMenuClick($event,'del')" contextMenuItem [enabled]="productList.length>1">
        删除
      </ng-template>
    </context-menu>
    <footer-toolbar>
      <e-ngx-print #printComponent [mode]="'popup'" [popTitle]="'表格打印'" [showBtn]="false" [printHTML]="printDiv"
        [printStyle]="printStyle" [printCSS]="printCSS" (printComplete)="printComplete()">
      </e-ngx-print>
      <button nz-button type="button" (click)="print()">打印</button>
      <button nz-button type="button" (click)="back()">返回</button>
      <button nz-button type="submit" nzType="primary" (click)="save()" [disabled]="valid"
        [nzLoading]="loading">保存</button>
    </footer-toolbar>
  </nz-card>
</div>
