<div class="ticket_edit_cpt">
  <page-header [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
      <nz-breadcrumb>
        <nz-breadcrumb-item><a href="/#/admin/baseCorporation/door">{{cpName}}列表</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>{{title+cpName}}</nz-breadcrumb-item>
      </nz-breadcrumb>
    </ng-template>
  </page-header>
  <nz-card>
    <nz-spin *ngIf="loading" class="modal-spin"></nz-spin>
    <div class="printDiv" #printDiv>
      <table class="ticketTable" cellspacing="0">
        <tr>
          <td colspan="2">
          </td>
          <td colspan="3" style="border-left:0;">
            <span style="font-size:24px;">川峰木门生成流程单</span>
          </td>
          <td colspan="1">
            <span>合计：</span>
            <b>5</b>
            <span>套</span>
          </td>
          <td rowspan="4" colspan="" style="width: 120px;">
            <ngx-qrcode [qrc-element-type]="'url'" [qrc-value]="'id'" qrc-class="aclass" qrc-errorCorrectionLevel="L">
            </ngx-qrcode>
          </td>
        </tr>
        <tr class="tbb">
          <td>
            经销商：
          </td>
          <td>
            <input [(ngModel)]="bingName" nz-input>
          </td>
          <td>
            品牌名称：
          </td>
          <td>
            <input [(ngModel)]="bingName" nz-input>
          </td>
          <td>
            订单编号：
          </td>
          <td>
            <input [(ngModel)]="bingName" nz-input>
          </td>
        </tr>
        <tr class="tbb">
          <td>
            收货地址：
          </td>
          <td>
            <input [(ngModel)]="bingName" nz-input>
          </td>
          <td>
            订货日期：
          </td>
          <td>
            <input [(ngModel)]="bingName" nz-input>
          </td>
          <td>
            排产日期：
          </td>
          <td>
            <input [(ngModel)]="bingName" nz-input>
          </td>

        </tr>
        <tr class="tbb">
          <td>
            业务经理：
          </td>
          <td>
            <input [(ngModel)]="bingName" nz-input>
          </td>
          <td>
            制单人员：
          </td>
          <td>
            <input [(ngModel)]="bingName" nz-input>
          </td>
          <td>
            交货日期：
          </td>
          <td>
            <input [(ngModel)]="bingName" nz-input>
          </td>

        </tr>
      </table>
      <table class="ticketTable" cellspacing="0" style="border-top: 0;">
        <tr>
          <td rowspan="2" style="width: 60px;">颜色</td>
          <td rowspan="2" style="width: 160px;">材质</td>
          <td rowspan="2" style="width: 160px;">型号</td>
          <td rowspan="2" style="width: 40px;">序号</td>
          <td style="width: 200px;">洞口尺寸</td>
          <td style="width: 160px;">门扇尺寸</td>
          <td rowspan="2" style="width: 160px;">立板尺寸</td>
          <td rowspan="2" style="width: 160px;">顶板尺寸</td>
          <td colspan="4">线条信息</td>
          <td rowspan="2" style="width: 40px;">数量</td>
          <td rowspan="2" style="width: 160px;">备注</td>
        </tr>
        <tr>
          <td class="s30">
            <span>高</span>
            <span>宽</span>
            <span>厚</span>
          </td>
          <td class="s50">
            <span>高</span>
            <span>宽</span>
          </td>
          <td class="">
            <span>2200</span>
          </td>
          <td class="">
            <span>2400</span>
          </td>
          <td class="">
            <span>2700</span>
          </td>
          <td class="">
            <span>3000</span>
          </td>
        </tr>
        <ng-template ngFor let-i="index" let-data [ngForOf]="productList">
          <tr class="productItem" [ngClass]="{'productShow1': data.show}" (contextmenu)="onContextMenu($event, data)">
            <td (contextmenu)="onContextMenu($event, data, 'rowspanColor')" *ngIf="data.rowspanColor"
              [attr.rowspan]="data.rowspanColor" (click)="showColor(data)" class="cursor">
              <div>{{data.color}}</div>
            </td>
            <td (contextmenu)="onContextMenu($event, data, 'rowspanMaterial')" *ngIf="data.rowspanMaterial"
              [attr.rowspan]="data.rowspanMaterial" (click)="showMaterial(data)" class="cursor">
              <div>{{data.material}}</div>
            </td>
            <td (contextmenu)="onContextMenu($event, data, 'rowspanDoor')" *ngIf="data.rowspanDoor"
              [attr.rowspan]="data.rowspanDoor" (click)="showDoor(data)" class="cursor">
              <div>{{data.doorObj.name}}</div>
            </td>
            <td class="cursor" (click)="contextMenuClick({item:data},'show')">
              <span>
                {{i+1}}
              </span>
            </td>
            <td>
              <input [(ngModel)]="data.coverSize" class="inputHeight">
            </td>
            <td>
              <input [(ngModel)]="data.doorSize" class="inputHeight">
            </td>
            <td>
              <input [(ngModel)]="data.lbSize" class="inputHeight">
            </td>
            <td>
              <input [(ngModel)]="data.dbSize" class="inputHeight">
            </td>
            <td>
              <input [(ngModel)]="data.dbHeight" class="inputHeight">
            </td>
            <td>
              <input [(ngModel)]="data.dbHeight" class="inputHeight">
            </td>
            <td>
              <input [(ngModel)]="data.dbHeight" class="inputHeight">
            </td>
            <td>
              <input [(ngModel)]="data.dbHeight" class="inputHeight">
            </td>
            <td>
              <input [(ngModel)]="data.sum" class="inputHeight">
            </td>
            <td>
              <textarea [(ngModel)]="data.remark" style="width: 100%; border: none;"></textarea>
            </td>
          </tr>
          <tr class="printHide" [ngClass]="{'productShow2': data.show}" (contextmenu)="onContextMenu($event, data)"
            *ngIf="data.show">
            <td>
              <i class="iconBtn" (click)="contextMenuClick({item:data},'show')" nz-icon type="up-circle"
                theme="outline"></i>
            </td>
            <td colspan="10">
              <div nz-row class="gxBox trGxBox">
                <div *ngFor="let item of data.doorObj.gxList" nz-col nzSpan="2">
                  <div class="i1">{{item.name}}</div>
                  <div class="i2">
                    <input *ngIf="item.name" [(ngModel)]="item.price" type='number' nz-input>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
        <tr>
          <td rowspan="2">总计:</td>
          <td rowspan="2" colspan="6" class="statistics">
            门扇:
            <b style="margin-right:4px;">34</b>
            <span style="margin-right:20px;">个</span>
            门套板:
            <b style="margin-right:4px;">34</b>
            <span style="margin-right:20px;">块</span>
            窗套板:
            <b style="margin-right:4px;">34</b>
            <span style="margin-right:20px;">块</span>
          </td>
          <td>线条长度小计</td>
          <td>
            <b>2</b>
          </td>
          <td>
            <b>2</b>
          </td>
          <td>
            <b>2</b>
          </td>
          <td>
            <b>2</b>
          </td>
          <td rowspan="2" colspan="2"></td>
        </tr>
        <tr>
          <td>线条合计</td>
          <td colspan="4">
            <b>7</b>
          </td>
        </tr>
        <tr>
          <td>
            <span>总结：</span>
          </td>
          <td colspan="13">
            <textarea [(ngModel)]="item.mark" style="width: 100%; border: none; font-size: 16px;
            text-align: center; font-weight: bold; height:40px; padding: 8px 0;"></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <span>备注：</span>
          </td>
          <td colspan="13">
            <textarea [(ngModel)]="item.mark" style="width: 100%; border: none; text-align: left;
             height:36px; padding: 6px 0; padding-left: 10px;"></textarea>
          </td>
        </tr>
      </table>
      <div class="gxTable">
        <div class="lBox"></div>
        <div nz-row class="gxBox">
          <div *ngFor="let item of gxList" nz-col nzSpan="2">
            <div class="i1">{{item.name}}</div>
            <div class="i2">
              <input *ngIf="item.name" [(ngModel)]="bingName" type='number' nz-input>
            </div>
            <div class="i3"></div>
          </div>
        </div>
      </div>
    </div>
    <context-menu>
      <ng-template (execute)="contextMenuClick($event,'copy')" contextMenuItem>
        复制添加
      </ng-template>
      <ng-template (execute)="contextMenuClick($event,'add')" contextMenuItem>
        添加..
      </ng-template>
      <ng-template (execute)="contextMenuClick($event,'show')" contextMenuItem>
        {{showDetilName}}
      </ng-template>
      <ng-template (execute)="contextMenuClick($event,'merge')" contextMenuItem>
        {{mergeKey?'取消合并单元格':'合并单元格'}}
      </ng-template>
      <ng-template contextMenuItem divider="true"></ng-template>
      <ng-template (execute)="contextMenuClick($event,'del')" contextMenuItem [enabled]="productList.length>1">
        删除
      </ng-template>
    </context-menu>
    <footer-toolbar errorCollect>
      <e-ngx-print #printComponent [mode]="'popup'" [popTitle]="'表格打印'" [showBtn]="false" [printHTML]="printDiv"
        [printStyle]="printStyle" [printCSS]="printCSS" (printComplete)="printComplete()">
      </e-ngx-print>
      <button nz-button type="button" (click)="print()" [nzLoading]="loading">打印</button>
      <button nz-button type="button" (click)="back()" [nzLoading]="loading">返回</button>
      <button nz-button type="submit" nzType="primary" (click)="save(sf.value)" [disabled]="valid"
        [nzLoading]="loading">保存</button>
    </footer-toolbar>
  </nz-card>
</div>