
.ticket_edit_cpt{
  /deep/ngx-qrcode{ display: block; width: 100%; height: 120px; position: relative; overflow: hidden;
    img{ position: absolute; top:-10px; left: 50%; margin-left: -70px; width: 140px;}
  }
  input{ border: none; padding: 0; width: 100%; border-radius: 0;
    height: 26px; display: inline-block; height:inherit;
    text-align: center; background: none;
    &:hover{ background: #f1f1f1;}
    &:focus{ background: #cccab6;}
  }
  textarea{ height: 26px; display: block; background: none;}
  textarea,input,td,.gxTable{ font-size: 14px;}
  el-select{ width: 100%; min-width: 120px; background: none;}
  /deep/.ant-select-selection{ background: none; border-radius: none;
  border: none;}

  .modal-spin{position: absolute;top: 0;bottom: 0;width: 100%;
    background: #fff;z-index: 3;display: block; left: 0;}


  table,table tr th, table tr td {padding:0; border:1px solid #ededed; }
  table { width: 100%; text-align: center;
     border-collapse: collapse;} 
  .ticketTable{
    border: none;
    text-align: center;
    td{}
    .productItem td{position: relative;}
    .rightB{ text-align: left; position: relative;
      padding-left: 76px;
      b{ position: absolute; top:2px; left: 8px;}
      input{ border: none; text-align: left; }
      /deep/.ant-calendar-picker{ width: 100%;
        input{ border: none; text-align: left; }
        .ant-input{ padding: 0; height: 100%;}
      }
    }
    /deep/nz-select{ width: 100%;
      div{ height: 100%; margin: 0; line-height: inherit;}
    }
    .haderB{ font-weight: bold;}
    .inputHeight{ position: absolute; left: 1px; top:1px;
      right:1px; bottom:1px;}
    .iconBtn{ font-size: 16px; cursor: pointer;
      &:hover{ color: #099;}
    }
    .productShow1{ background: #f9f9f9;
      color: #c00;
    }
    .addEdit{ position: absolute; right: 0; top:0; z-index: 10; display: none;}
    .productItem:hover{ background: #f9f9f9;
      .addEdit{ display: block;}
    }
  }
  .jinebo{ padding: 4px 10px; color: #c00; font-weight: bold; text-align: left;}
  .jinebo input{ color: #c00; font-weight: bold; display: inline-block; width: 60px;}
  .jinebo span{ display: inline-block; margin-right: 50px;}
  .msdBox{ margin-left: -1px; width: 100%; height: 100%; display: table;}
  .msditem{ width: 25%; display:table-cell; border-left: 1px solid #ededed;}
  .msditem h3{ min-height: 20px; border-bottom: 1px solid #ededed;}
  .msditem .imbo{ min-height: 20px; }
  
  .msjos>div{ float: left; text-align: left; padding: 10px;
    line-height: 30px;
  }
  .it87{ width: 46%;}
  .it84{ width: 27%;}
  
  .gxBox{ margin: 0 0 -1px -1px;
    &:after{ content: " "; height: 0; width: 0; visibility: hidden;display: block; clear: both }
    >div{ border-bottom: 1px solid #ededed; border-left: 1px solid #ededed;
      text-align: center; float: left;  width: 8.333%;
      .i1{ height: 26px; line-height: 28px;
        b{ margin-left: 5px; color: rgb(72, 87, 247);}
      }
      .i2{ border-top: 1px solid #ededed; border-bottom: 1px solid #ededed;
        height: 26px; 
        input{color: red;}
      }
      .i3{ height: 26px; padding-top: 2px;
      /deep/.ant-select-selection-selected-value{
        width: 100%; text-align: center;
      }
      }
    }
  }
  .trGxBox{ margin: 0 -2px -2px 0; font-size: 12px;
    input{ font-size: 12px; color: #333;}
    /deep/.ant-input-disabled{ opacity: 1;}
    >div{ border-bottom: none;}
  }

  .baseTdItem{width: 3.125%; height: 0; border: none !important;}
  .baseBox{ border-left: 1px solid #ededed;}
  
}

